<mat-grid-list cols="4" >
  <mat-grid-tile
  colspan="1"
  *ngFor="let item of items"
    >
    <mat-card class="example-card" >
      <img
        mat-card-image
        src="{{item.img}}"
        alt="Photo of a Shiba Inu"
      />
      <mat-card-content>
        <p>
          {{item.name}}
      </mat-card-content>
      <mat-card-actions>
        <button mat-button> <mat-icon>add_shopping_cart</mat-icon>Adicionar ao carrinho</button>
      </mat-card-actions>
    </mat-card>
  </mat-grid-tile>
</mat-grid-list>
