.sidenav-header-div {
  height: 400px;
  width: 400px;
  display: flex;
  justify-content: center;
  place-items: center;
  background-image: url(../../../assets/images/header-background.jpg);
  background-size: 580px;
}

.blob {
  background: white;
  border-radius: 50%;
  margin: 10px;
  height: 150px;
  width: 150px;
  display: flex;
  justify-content: center;
  place-items: center;

  box-shadow: 0 0 0 0 rgba(3, 217, 255, 1);
  transform: scale(1);
  animation: pulse 2s infinite;

  mat-icon {
    height: 75px;
    width: 75px;
    font-size: 75px;
    color: rgba(3, 217, 255, 1);
  }
}

@keyframes pulse {
  0% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(3, 217, 255, 0.7);
  }

  70% {
    transform: scale(1);
    box-shadow: 0 0 0 100px rgba(3, 217, 255, 0);
  }

  100% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(3, 217, 255, 0);
  }
}

.example-container {
  width: 100%;
  height: 100%;
  background-color: white;
  border: 1px solid white
}

.example-sidenav-content {
  background-color: white;
  display: flex;
  height: 100%;
  // align-items: center;
  // justify-content: center;
}

.header {
  height: 60px;
  width: 100%;
  background-color: rgba(3, 217, 255, 0.3);
  // background-image: url(../../../assets/images/header-background.jpg);;
}

.header-button {
  cursor: pointer;
  display: flex;
  align-items: center;
  height: 100%;
  width: 80px;
  background-color: rgba(3, 217, 255, 1);
  box-shadow: black;
  &.opened {
    width: 30px;
    mat-icon {
      height: 30px;
      width: 30px;
      font-size: 30px;
    }
  }
  mat-icon {
    cursor: pointer;
    height: 75px;
    width: 75px;
    font-size: 75px;
    color: white;
  }
}

.side-nav {
  // height: 100%;
  // background-color: white;
}
