<mat-sidenav-container class="example-container">
  <mat-sidenav
    #sidenav
    mode="side"
    [(opened)]="opened"
    class="side-nav"
  >
    <div class="sidenav-header-div">
      <div class="blob">
        <mat-icon>menu_book</mat-icon>
      </div>
    </div>
    <mat-nav-list>
      <a mat-list-item routerLink="/list"> Componente 1 </a>
      <a mat-list-item> Componente 2 </a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <div class="example-sidenav-content">
      <div
        type="button"
        class="header-button"
        [ngClass]="{ opened: opened }"
        mat-button
        (click)="sidenav.toggle(); opened = !opened"
      >
        <mat-icon>{{ opened ? 'chevron_left' : 'chevron_right' }}</mat-icon>
    </div>
    <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>

<!-- <header class="site-header">
  <div class="wrapper site-header__wrapper">
    <a href="#" class="brand">CDK Sandbox</a>
    <nav class="nav">
      <ul class="nav__wrapper">
        <li class="nav__item"><a routerLink="/list">Componente 1</a></li>
        <li class="nav__item"><a href="#">Componente 2</a></li>
        <li class="nav__item"><a href="#">Just a test</a></li>
      </ul>
    </nav>
  </div>
</header>    -->
